body {
	font-family: 'Comfortaa', cursive;
}

* {
    box-sizing:border-box;
}

.whole {
    width:900px;
    margin:auto;
	background:linear-gradient(to top, #84befe, white);
}

.rect {
    width:75px;
    height:150px;
    padding-top:20px;
    padding-bottom:20px;
    padding-left:10px;
    padding-right:10px;
    border:2px dashed #84befe;
    border-radius:10px;
    position:fixed;
    top:200px;
    right:-5px;
}

.rect a {
    color:#84befe;
    text-decoration:none;
    font-size:23px;
    text-align:center;
    word-wrap:break-word;
}

.header {
    width:900px;
}

.box {
    width:200px;
    height:200px;
    margin-left:40px;
    background-color:white;
    box-shadow:5px 5px 10px gray;
    position:relative;
    top:80px;
    z-index:1;
}

.preview {
	color:white;
	font-size:90px;
	text-align:left;
	text-shadow:5px 5px 10px gray;
	word-wrap:word-break;
    width:700px;
    height:400px;
    margin-left:45px;
    margin-bottom:-145px;
    padding-top:100px;
    padding-left:120px;
    background-color:#84befe;
    position:relative;
    top:-150px;
    left:118px;
}

.nav {
    width:900px;
    margin-left:40px;
    margin-top:10px;
}

.nav a:link {
    color:white;
    text-decoration:none;
    text-align:center;
    width:161.2px;
    padding:10px;
    margin:0px;
    clear:left;
    border:1px solid white;
    border-radius:0 15px 0 0;
    background-color:#84befe;
    display:inline-block;
}

.nav a:visited {
    color:white;
    text-decoration:none;
    background-color:#84befe;
}

.nav a:hover {
    color:#cbe5ff;
    text-decoration:none;
    background-color:white;
}

.nav a:activate {
    color:#cbe5ff;
    text-decoration:none;
    background-color:white;
}

.mid {
    width:823px;
    height:500px;
    margin-left:40px;
    margin-right:40px;
    margin-top:10px;
    margin-bottom:10px;
    background-color:white;
}

.last {
    width:823px;
    height:350px;
    margin-top:20px;
    margin-left:40px;
    margin-right:40px;
    background-color:white;
}

.left {
    width:403px;
    height:340px;
    margin:4px;
    border: 2px dotted #cbe5ff;
    float:left
}

.left-head {
	color:white;
	text-align:center;
	font-size:30px;
    width:394px;
    height:50px;
    margin:4px;
   	padding-top:5px;
   	padding-bottom:5px;
    border-radius:0 0 20px 20px;
    background:linear-gradient(to top, #84befe, lightblue);
}

.right {
    width:403px;
    height:340px;
    margin:3px;
    border: 2px dotted #cbe5ff;
    float:left;
}

.right-head {
		color:white;
	text-align:center;
	font-size:30px;
    width:394px;
    height:50px;
    margin:4px;
    padding-top:5px;
   	padding-bottom:5px;
    border-radius:0 0 20px 20px;
    background:linear-gradient(to top, #84befe, lightblue);
}

.footer {
    width:820px;
    height:100px;
    color:white;
    text-align:right;
    margin-top:10px;
    margin-bottom:10px;
    margin-left:40px;
    margin-right:40px;
}